<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <h1>Aprender a Aprender</h1>

    <h2>Notas</h2>
    <ion-item>
      <h3>
     Envolve:
      </h3>

    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-note color="success">Descobrir qual a melhor forma de adquirir novos conhecimentos.</ion-note>
        </ion-col>
        <ion-col>
          <ion-note color="warning">Ter sempre disposição para perseguir o aprendizado.</ion-note>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="card">
      <ion-card-header>
          <ion-label color="dark" class="ion-text-wrap">Saber a Aprender</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
          <ion-label color="warning" class="ion">Absorver Conteúdos</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-label color="dark" class="ion-text-wrap">Manter a mente aberta</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-label color="warning" class="ion">Exercitar o cérebro</ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-label  color="dark" class="ion-text-wrap">Manter a motivação</ion-label>
      </ion-card-header>
    </ion-card>



  </ion-list>
</ion-content>
