<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <h2>Aprender a Aprender</h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-note color="success">Descobrir qual a melhor forma de adquirir novos conhecimentos.</ion-note>
        </ion-col>
        <ion-col>
          <ion-note color="warning">Ter sempre disposição para perseguir o aprendizado.</ion-note>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2>Notas</h2>
    <ion-item>
      <h3>
     Envolve:
      </h3>
    </ion-item>
<ion-item>
  <ion-label>Saber a Aprender</ion-label>
  <ion-toggle color="primary"></ion-toggle>
</ion-item>
    
    <ion-item>
      <ion-label>Absorver Conteúdos</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Manter a motivação</ion-label>
      <ion-toggle color="medium"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Exercitar o cérebro</ion-label>
      <ion-toggle color="dark"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Manter a mente aberta</ion-label>
      <ion-toggle color="warning"></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>
