<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->

  <ion-list>
    <ion-item>
      <ion-label>
        <div>
          <h1 class="darker">Ética no trabalho</h1>
        </div>
      </ion-label>

    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header class="cola">Características:</ion-list-header>
    <ion-item>

      <ion-label class="m">Respeito:
        <p>Respeitar os colegas de trabalho e os respeitar</p>
      </ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
      <ion-label class="n">Crescimento profissional:
        <p> Fazer coisas para além do bem estar da empressa</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
      <ion-label class="m">Lealdade:
        <p> Ser leal aos colegas e nunca os trair</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
      <ion-label class="n">Seja discreto:
        <p> Agir apenas quando necessário</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
      <ion-label class="m">Assuma seus erros:
        <p> Assumir quando desrespeitou alguém</p></ion-label>
    </ion-item>
  </ion-list>

</ion-content>
