<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->

  <ion-list>
    <ion-item>
      <ion-label>
        <div>
          <p>Ética no trabalho</p>
        </div>
      </ion-label>
  
    </ion-item>
  </ion-list>

  <ion-list>
    
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://www.editorasantuario.com.br/media/wysiwyg/Santuario_/Imagens_Blog/shutterstock_1062450080.jpg">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Respeito: </h3>
          <p>Respeitar os colegas de trabalho e os respeitar</p>
        </div>
      </ion-label>
  
      <ion-chip>
        <ion-label color="verde-claro">I</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="https://www.reshot.com/preview-assets/icons/HPBC4FEU8J/helping-hand-HPBC4FEU8J.svg">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Crescimento profissional</h3>
          <p>Fazer coisas para além do bem estar da empressa</p>
        </div>
      </ion-label>
  
      <ion-chip>
        <ion-label color="fogo-chama">II</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item  lines="full"  class="ion-no-padding" (click)="exibirAlerta()">
      <ion-thumbnail slot="start">
        <img src="https://www.reshot.com/preview-assets/icons/FA7DSHM8BN/help-children-FA7DSHM8BN.svg">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Lealdade</h3>
          <p>Ser leal aos colegas e nunca os trair</p>
        </div>
      </ion-label>
  
      <ion-chip>
        <ion-label color="agua">III</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item  lines="full"  class="ion-no-padding" (click)="exibirAlerta()">
      <ion-thumbnail slot="start">
        <img src="https://www.reshot.com/preview-assets/icons/FWPX82A9T3/handshake-FWPX82A9T3.svg">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3> Seja discreto
          </h3>
         <p>Agir apenas quando necessário</p>
        </div>
      </ion-label>
  
      <ion-chip>
        <ion-label color="dark">IV</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item  lines="full"  class="ion-no-padding" (click)="exibirAlerta()">
      <ion-thumbnail slot="start">
        <img src="https://www.reshot.com/preview-assets/icons/Q5H63BYFR7/adoptive-parents-Q5H63BYFR7.svg">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Assuma seus erros</h3>
         <p>Assumir quando desrespeitou alguém</p>
        </div>
      </ion-label>
      <ion-chip>
        <ion-label color="dark">V</ion-label>
      </ion-chip>
    
    </ion-item>
  </ion-list>
  
  
 
</ion-content>
