<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->

  <ion-list>
    <ion-item>
      <ion-label>
        <div>
          <p>Ética no trabalho</p>
        </div>
      </ion-label>
  
    </ion-item>
  </ion-list>

  <ion-list>
    
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://www.editorasantuario.com.br/media/wysiwyg/Santuario_/Imagens_Blog/shutterstock_1062450080.jpg">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Respeito: </h3>
          <p>Respeitar os colegas de trabalho e os respeitar</p>
        </div>
      </ion-label>
  
      <ion-chip>
        <ion-label color="verde-claro">I</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="https://lh3.googleusercontent.com/lbp-GaOKN-Wlxc22ggrBrBqld4NyM-R4hk3lpU01ZsW5iBE8na-AETdROJXYZiTRlyamCr6hhcv2gh_a_OjWozdXVMulKWNief0QFc5E9ocD_sNJzFs_rIC-YdCZ2nkPa32VCSjJkY6UfpYaLgUNzvG0Orfm7F7PW5pRbQfBPy-T25vuU-yk45m-x2poudvND9EOlToyoVxc5PCDB-0wpA_gQ_--FAthSncondhCTHMEkqxJsBD3f48_zmqw_hOCIsoeMV7uL9q_OEpnw9S33A8LcSMidYK40vcFZM5-fWWc5GDA31vbSXwX9jY5HsFJaoLF8ZXXY3QLnv0FMuZsQSldwd5eQN5EOnMJDOyGnRnO0xZCrgJDt6UaL7Im8aCAIOj_FRC8jq0hFf6s2uI_Y-0B-5O2ZJEAbm5J-57zzfmVUVGZzdFqiItKYMPIKsbDmtJuo-FSvOXhzS8iUmd32bev6q5vVimQeEOgCO8eGFLfds_RpzAkwvD9ESmMW2mkL4O638GLKZITT9QzeEZEzvq56izZNnQ3APxI3hqrL6d4kaK4XArUg1WTVAxToiQ2q_yb6y2tehKXYMARy-NsgJWV4sv0LfMx-OZ0ptPoBZd2imHND24zJH5fN5R7lUPlw0rZCrE6IgR8Uju6ulVlTILZpusTj8I2Jn2sw4w1imhEgxfIzG32J46UQRr3vvz1tCoh76Fgtc7ghsJXmOfI5zHFqmdgsy61GcDEp0MCNXbFIGb8IO7TJikKGOyXzCI=w525-h560-no?authuser=00">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Crescimento profissional</h3>
          <p>Fazer coisas para além do bem estar da empressa</p>
        </div>
      </ion-label>
  
      <ion-chip>
        <ion-label color="fogo-chama">II</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item  lines="full"  class="ion-no-padding" (click)="exibirAlerta()">
      <ion-thumbnail slot="start">
        <img src="https://lh3.googleusercontent.com/lbp-GaOKN-Wlxc22ggrBrBqld4NyM-R4hk3lpU01ZsW5iBE8na-AETdROJXYZiTRlyamCr6hhcv2gh_a_OjWozdXVMulKWNief0QFc5E9ocD_sNJzFs_rIC-YdCZ2nkPa32VCSjJkY6UfpYaLgUNzvG0Orfm7F7PW5pRbQfBPy-T25vuU-yk45m-x2poudvND9EOlToyoVxc5PCDB-0wpA_gQ_--FAthSncondhCTHMEkqxJsBD3f48_zmqw_hOCIsoeMV7uL9q_OEpnw9S33A8LcSMidYK40vcFZM5-fWWc5GDA31vbSXwX9jY5HsFJaoLF8ZXXY3QLnv0FMuZsQSldwd5eQN5EOnMJDOyGnRnO0xZCrgJDt6UaL7Im8aCAIOj_FRC8jq0hFf6s2uI_Y-0B-5O2ZJEAbm5J-57zzfmVUVGZzdFqiItKYMPIKsbDmtJuo-FSvOXhzS8iUmd32bev6q5vVimQeEOgCO8eGFLfds_RpzAkwvD9ESmMW2mkL4O638GLKZITT9QzeEZEzvq56izZNnQ3APxI3hqrL6d4kaK4XArUg1WTVAxToiQ2q_yb6y2tehKXYMARy-NsgJWV4sv0LfMx-OZ0ptPoBZd2imHND24zJH5fN5R7lUPlw0rZCrE6IgR8Uju6ulVlTILZpusTj8I2Jn2sw4w1imhEgxfIzG32J46UQRr3vvz1tCoh76Fgtc7ghsJXmOfI5zHFqmdgsy61GcDEp0MCNXbFIGb8IO7TJikKGOyXzCI=w525-h560-no?authuser=00">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Lealdade</h3>
          <p>Ser leal aos colegas e nunca os trair</p>
        </div>
      </ion-label>
  
      <ion-chip>
        <ion-label color="agua">III</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item  lines="full"  class="ion-no-padding" (click)="exibirAlerta()">
      <ion-thumbnail slot="start">
        <img src="https://lh3.googleusercontent.com/lbp-GaOKN-Wlxc22ggrBrBqld4NyM-R4hk3lpU01ZsW5iBE8na-AETdROJXYZiTRlyamCr6hhcv2gh_a_OjWozdXVMulKWNief0QFc5E9ocD_sNJzFs_rIC-YdCZ2nkPa32VCSjJkY6UfpYaLgUNzvG0Orfm7F7PW5pRbQfBPy-T25vuU-yk45m-x2poudvND9EOlToyoVxc5PCDB-0wpA_gQ_--FAthSncondhCTHMEkqxJsBD3f48_zmqw_hOCIsoeMV7uL9q_OEpnw9S33A8LcSMidYK40vcFZM5-fWWc5GDA31vbSXwX9jY5HsFJaoLF8ZXXY3QLnv0FMuZsQSldwd5eQN5EOnMJDOyGnRnO0xZCrgJDt6UaL7Im8aCAIOj_FRC8jq0hFf6s2uI_Y-0B-5O2ZJEAbm5J-57zzfmVUVGZzdFqiItKYMPIKsbDmtJuo-FSvOXhzS8iUmd32bev6q5vVimQeEOgCO8eGFLfds_RpzAkwvD9ESmMW2mkL4O638GLKZITT9QzeEZEzvq56izZNnQ3APxI3hqrL6d4kaK4XArUg1WTVAxToiQ2q_yb6y2tehKXYMARy-NsgJWV4sv0LfMx-OZ0ptPoBZd2imHND24zJH5fN5R7lUPlw0rZCrE6IgR8Uju6ulVlTILZpusTj8I2Jn2sw4w1imhEgxfIzG32J46UQRr3vvz1tCoh76Fgtc7ghsJXmOfI5zHFqmdgsy61GcDEp0MCNXbFIGb8IO7TJikKGOyXzCI=w525-h560-no?authuser=00">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3> Seja discreto
          </h3>
         <p>Agir apenas quando necessário</p>
        </div>
      </ion-label>
  
      <ion-chip>
        <ion-label color="dark">IV</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item  lines="full"  class="ion-no-padding" (click)="exibirAlerta()">
      <ion-thumbnail slot="start">
        <img src="https://lh3.googleusercontent.com/lbp-GaOKN-Wlxc22ggrBrBqld4NyM-R4hk3lpU01ZsW5iBE8na-AETdROJXYZiTRlyamCr6hhcv2gh_a_OjWozdXVMulKWNief0QFc5E9ocD_sNJzFs_rIC-YdCZ2nkPa32VCSjJkY6UfpYaLgUNzvG0Orfm7F7PW5pRbQfBPy-T25vuU-yk45m-x2poudvND9EOlToyoVxc5PCDB-0wpA_gQ_--FAthSncondhCTHMEkqxJsBD3f48_zmqw_hOCIsoeMV7uL9q_OEpnw9S33A8LcSMidYK40vcFZM5-fWWc5GDA31vbSXwX9jY5HsFJaoLF8ZXXY3QLnv0FMuZsQSldwd5eQN5EOnMJDOyGnRnO0xZCrgJDt6UaL7Im8aCAIOj_FRC8jq0hFf6s2uI_Y-0B-5O2ZJEAbm5J-57zzfmVUVGZzdFqiItKYMPIKsbDmtJuo-FSvOXhzS8iUmd32bev6q5vVimQeEOgCO8eGFLfds_RpzAkwvD9ESmMW2mkL4O638GLKZITT9QzeEZEzvq56izZNnQ3APxI3hqrL6d4kaK4XArUg1WTVAxToiQ2q_yb6y2tehKXYMARy-NsgJWV4sv0LfMx-OZ0ptPoBZd2imHND24zJH5fN5R7lUPlw0rZCrE6IgR8Uju6ulVlTILZpusTj8I2Jn2sw4w1imhEgxfIzG32J46UQRr3vvz1tCoh76Fgtc7ghsJXmOfI5zHFqmdgsy61GcDEp0MCNXbFIGb8IO7TJikKGOyXzCI=w525-h560-no?authuser=00">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>Assuma seus erros</h3>
         <p>Assumir quando desrespeitou alguém</p>
        </div>
      </ion-label>
      <ion-chip>
        <ion-label color="dark">V</ion-label>
      </ion-chip>
    
    </ion-item>
  </ion-list>
  
  
 
</ion-content>
