<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- Intro -->
  <ion-card>
    <img src="https://image.shutterstock.com/image-illustration/human-body-brain-260nw-520111273.jpg" />
    <ion-card-header>
      <ion-card-title>Soft Skills</ion-card-title>
      <ion-card-subtitle>O Que é?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      São as competências profissionais que formam a personalidade e o comportamento do profissional. Envolvem aptidões mentais, emocionais e sociais. São habilidades únicas, pois nascem de acordo com as experiências, cultura, criação e educação.
    </ion-card-content>
  </ion-card>

  <!-- Lista -->
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>one</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>two</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>three</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>four</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>five</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  

</ion-content>
