<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="tertiary">
    <!-- Escrever com as cores -->
<p >Pensamento Criativo</p>
</ion-item>

<ion-item>
    <p>
      Na hora de resolver problemas, é válido ter criatividade para conseguir enxergar diferentes saídas.
     </p>
</ion-item>

<ion-card>
  <img src="https://crehana-blog.imgix.net/media/filer_public/65/3a/653ae85d-a3e1-432a-acd5-bd186fd188c3/que-es-el-pensamiento-creativo.jpg">
</ion-card>

<ion-item>
  <p>
    Quando uma pessoa consegue ter essa visão criativa, é mais fácil desenvolver soluções para qualquer problema que aparecer. Isso garante rapidez nos processos internos.
  </p>
  
</ion-item>

<ion-card>
  <img src="https://dreamfeel.files.wordpress.com/2012/04/criatividade1.jpg">
</ion-card>

 

</ion-content>
